*,*::after, *::before {
    box-sizing: border-box;
}


body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: black;
    background-image: url("https://www.essentium.com/wp-content/uploads/2020/08/Screen-Shot-2020-08-25-at-12.11.03-PM.png");
    background-position: bottom;
    background-size: 100%;
    height: 150px;
    padding: 20px;
    text-align: center;

}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 40px;
}

header .logo a {
    background-image: url("../images/EssentiumLogo.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -9999999px;
    top: -35px;
    width: 100px;
}

header .mobile {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}
/* RESPONSIVE RULES */

@media screen and (max-width: 715px) {
    header {
        background-size: 175%;
        height: 300px;
    }

    header a {
        margin: 0px;
        margin-top: 40px;
    }

    header .logo a {
        height: 100px;
        position: relative;
        top: -15px;
    }

    header .mobile {
        display: block;
        padding: 10px;
    }

    header .desktop {
        display: none;
    }
}

/* Features */

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.features figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0px 0px 10px;
    height: 200px;
    width: 200px;
}


.bay {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bay figure {
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.bay figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0px 0px 10px;
    height: 200px;
    width: 200px;
}

/* Responsive Rules 

    @media screen and (max-width: 715px) {
        .features {
            display: block;
        }
    }
*/

/* Footer */

footer {
    background: rgb(168, 168, 168);
    columns: grey;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;   
}

/* modal styles*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}